@import 'nav.css';

.hero-section {
    width: 100%;
    height: calc(100vh - 120px);
    background-image: url('../img/headervila1.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .sub-heading {
    margin-top: 10px;
    text-align: center;
    color: rgb(20, 84, 128);
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 300;
}
