header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 110px;
    height: 180px;
    /*width: 50%;*/
}

#form  {
    /*background-color: rgb(46, 144, 148);*/
    display: block;
    text-align: center;
    line-height: 250%;
    font-size: 20px;
    padding: 65px;
    /*box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);*/
}

form div span {
    font-size: 15px;
    
}